parameters:
    level: 9
    paths:
        - framework
        - src
    ignoreErrors:
        -
            identifier: property.uninitializedReadonly
            paths:
                - framework/Config.php
                - framework/DatabaseConfig.php
                - framework/MigrationStatusRow.php
                - framework/Tables/Migration.php
                - src/Tables/User.php
                - src/Requests/RegisterRequest.php
                - src/ViewModels/ErrorViewModel.php
                - src/ViewModels/RegisterViewModel.php
