{
	skip_install_trust

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	servers {
		metrics
	}
}

{$SERVER_NAME:localhost} {
	log {
		output file /app/logs/frankenphp/access.log {
			roll_size 10MiB
			roll_keep 3
		}
		format json {
			time_format wall
		}
	}

	root {$SERVER_ROOT:public/}

	encode zstd br gzip

	@viteAssets path /build/assets/*
	header @viteAssets Cache-Control "public, max-age=31536000, immutable"

	@build path /build/*
	file_server @build {
		precompressed br zstd gzip
	}

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server {
		root {$SERVER_ROOT:public/}
		file_server off
		try_files {path} index.php
		resolve_root_symlink false
		{$CADDY_PHP_SERVER_EXTRA_DIRECTIVES}
	}
}