{
	skip_install_trust

	{$CADDY_GLOBAL_OPTIONS}

	frankenphp {
		{$FRANKENPHP_CONFIG}
	}

	servers {
		metrics
	}
}

{$SERVER_NAME:localhost} {
	log {
		output file /app/logs/frankenphp/access.log {
			roll_size 10MiB
			roll_keep 3
		}
		format json {
			time_format wall
		}
	}

	root {$SERVER_ROOT:public/}

	encode zstd br gzip

	{$CADDY_SERVER_EXTRA_DIRECTIVES}

	php_server {
		resolve_root_symlink false
		{$CADDY_PHP_SERVER_EXTRA_DIRECTIVES}
	}
}